VITE_BRANCH=develop
VITE_BACKEND_URL=https://api.soulwallet.io/alpha
VITE_SCAN_URL=https://api-dev.soulwallet.io

VITE_EntryPoint=
VITE_Payment=
VITE_KeyStore=
VITE_KeyStoreModuleProxy=
VITE_SoulwalletFactory=
VITE_DefaultCallbackHandler=
VITE_Paymaster=
VITE_SoulWalletDefaultValidator=

VITE_ALCHEMY_KEY_SEPOLIA=
VITE_ALCHEMY_KEY_OP_SEPOLIA=
VITE_INFURA_KEY=