body {
    font-family       : 'Nunito';
    color             : "#1e1e1e";
    scrollbar-width   : none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.input:focus {
    outline: none;
    border : 1px solid #3840ff;
}

.Toastify__toast {
    border-radius: 0;
}

.logo {
    height: 100px;
}

.chakra-modal__content-container{
    outline: 0;
}